
<div class="page-header">
  <h1>Users</h1>
<%= form_tag users_path, :method => :get do %>
  <p>
 <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
<table class="table table-striped tablesorter">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Attending</th>
      <th>Preference</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.attending %></td>
        <td><%= user.preference %></td>
        <td><%= user.comments %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy',user_path(user),
                      :method => :delete,
                      :data => { :confirm => 'Confirm',:default => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>
<%= link_to 'New',new_user_path,
            :class => 'btn btn-primary' %>


<script>
	$(function(){
		$('table').tablesorter({
			widgets        : ['zebra', 'columns'],
			usNumberFormat : false,
			sortReset      : true,
			sortRestart    : true
		});
	});
	</script>
